*.o
*.lo
*.la
.deps
.libs
m4
autom4te.cache
config.h*
configure
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
scanmem
stamp-h1
tags
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/gameconqueror
debian/tmp
gui/GameConqueror.appdata.xml
gui/GameConqueror.desktop
gui/consts.py
gui/gameconqueror
gui/org.freedesktop.gameconqueror.policy
gui/org.freedesktop.gameconqueror.policy.in
po/.intltool-merge-cache
po/GameConqueror.pot
po/Makefile.in.in
po/POTFILES
po/ja.gmo
po/ru.gmo
po/stamp-it
# Android builds
# libreadline and ncurses downloads and links
readline-*
ncurses-*
readline
ncurses
