*.o
*.lo
*.la
.deps
.libs
m4
autom4te.cache
config.h*
configure
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
scanmem
stamp-h1
tags
gui/GameConqueror.appdata.xml
gui/GameConqueror.desktop
gui/consts.py
gui/gameconqueror
gui/org.freedesktop.gameconqueror.policy
gui/org.freedesktop.gameconqueror.policy.in
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/ja.gmo
po/ru.gmo
po/stamp-it
