[Desktop Entry]
Name=Game Conqueror
Comment=A game hacking tool. A GUI front-end for scanmem.
Exec=gameconqueror
Terminal=false
Type=Application
Icon=GameConqueror
Categories=GNOME;Application;Game;
StartupNotify=true
