[Desktop Entry]
Name=Game Conqueror
Comment=A game hacking tool. A GUI front-end for scanmem.
Comment[ja]=ゲーム向けプロセスメモリエディタ(scanmem GUI フロントエンド)
Exec=gameconqueror
Terminal=false
Type=Application
Icon=GameConqueror
Categories=Game;
StartupNotify=true
